<a class="btn edit_link btn-small changePosition" href="{{ admin.generateUrl('changePosition', {'id': object.id, 'value': object.position - 1}) }}"><i class="icon-chevron-up"></i></a>
<a class="btn edit_link btn-small changePosition" href="{{ admin.generateUrl('changePosition', {'id': object.id, 'value': object.position + 1}) }}"><i class="icon-chevron-down"></i></a>